body {
    margin: 0;
}

header {
    border-bottom-style: solid;
    display: flex;
    justify-content: space-between;
}

header > h1 {
    margin: 1rem;
}

header > nav {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 13rem;
}

header > nav > button {
    width: 10rem;
    height: 3rem;
}

footer {
    height: 100px;
}

#container-top {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    border-bottom: solid;
    min-height: 80%;
}

.section-container {
    border-style: solid;
    padding: 1rem;
    margin: 1rem;
    width: 30%;

    border-radius: 2rem;

    flex-basis: 500px;
    flex-shrink: 1;
}

.section-list > ul {
    list-style: none;
    padding-left: 0;

}

.todo_item {
    border-style: solid;
    border-radius: 1rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    padding-left: 1rem;

    cursor: pointer;
}

.todo_item:hover {
    background-color: grey;
    transition: background-color .5s;
}

.todo_item_blank {
    height: 0.5rem;
}

.last_blank {
    height: 6rem;
    border-radius: 1rem;
    margin-top: 0.75rem;
}

/*
.todo_item_blank:hover {
    background-color: powderblue;
    transition: background-color .35s;
}
*/



#overlay-container {
    position: fixed;
    width: 100%;
    height: 100%;

    bottom: 0;
    right: 0;

    visibility: hidden;
}
#shade_box {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;

    background-color: black;
    opacity: 0.7;
}
#form-container {
    border-style: solid;
    border-radius: 1rem;
    width: 50%;

    position: absolute;
    background-color: white;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    bottom: 35%;
    left: 25%;

}
#form-container > div > h3 {
    font-size: 2.5rem;
    text-align: center;
}
#form-container > div > form {
    margin-top: 10%;
    margin-bottom: 10%;

    display: flex;
    flex-direction: column;
}

#form-container > div > form > label {
    font-size: 2rem;
}
#form-container > div > form > input {
    font-size: 2rem;
}